@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

ul, li {
  font-style: normal !important;
  font-weight: 400;
  font-size: medium;
}

.github.a {
  text-decoration: underline;
  font-weight: 600;
}

.particles {
  z-index: -999;
  position: absolute;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Standard */
}

body {
  cursor: default;
}

.text-content {
  font-family: 'Roboto', sans-serif;
}

.custom-header {
  height: 108px;
  top: 0;
  left: 0;
  position: absolute;
}

.text-shadow-lg {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.resize-effect, .resize-effect-2 {
  transition: ease-in-out all 0.3s;
}

.resize-effect-2:hover {
  height: 33rem;
  width: 33rem;
}

.resize-effect:hover {
  height: 37rem;
  width: 37rem;
}

.glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.text-glow {
  transition: text-shadow 0.3s;
}

.text-glow:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.text-glow-portfolio {
  transition: text-shadow 0.3s;
}

.text-glow-portfolio:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
/* #tsparticles {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
} */